<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <title>WeatherApp</title>
    <div class="content">
        <h1 style="text-align: center">Weather App</h1>
        <div class="form">
            <form action="/weatherapp" method="POST">
                </br><label for='city: '>City: </label>
                <input type="text" name="city" id="city">
                </br><label for = 'Units: '>Units: </label>
                <input type="text" name="units" id="units">
                </br><label for = 'ApiKey: '>Api Key: </label>
                <input type="text" name="apiid" id="apiid">
                </br>
                <input type="submit" value="Search">
            </form>
        </div>
    </div>
</body>
</html>